@CHARSET "UTF-8";

.frontText{
/* 	font-family:dath7; */
	color:white;
	text-shadow: 4px 4px rgba(0,0,0,0.35);
}

.front-bg-color{
	background: url(/Tourcan/images/front/icons/front_iconbg.png) no-repeat;
	background-color: rgb(153,69,36);	
}
.front_icon{
	width: 76px;
	height:76px;
}
.front_icon:hover{
	width: 96px;
	height: 96px;
}
.pageHeader{
	position:fixed;
/* 	top:0px; */
/* 	padding:45px; */
	text-align:center;
    vertical-align: middle;
	margin:0px 0px;
	width:100%;
	height:90px;
	background: url(/Tourcan/images/front/fp-header.jpg) no-repeat center center scroll;
}
.pageFooter{
	position:fixed;
	bottom:0px;
	clear:both;
	margin:0px 0px;
	width:100%;
	height:60px;
	background: url(/Tourcan/images/front/fp-header.jpg) no-repeat bottom center scroll;
/* 	background: rgba(216,174,71,0.1); */
	background-color: rgb(216,174,71);
}
.containPad{
	padding:200px 30px;
}
@media ( min-width : 768px) {
	.omb_row-sm-offset-2 div:first-child[class*="col-"] {
		margin-left: 16.6666667%;
	}
}

.omb_login .omb_authTitle {
	text-align: center;
	line-height: 300%;
}

.omb_login .omb_socialButtons a {
	color: white;
	margin-bottom: 2%;
	//
	In
	yourUse
	@body-bg
	opacity
	:
	0.9;
}

.omb_login .omb_socialButtons a:hover {
	color: white;
	opacity: 1;
}

.omb_login .omb_socialButtons .omb_btn-facebook {
	background: #3b5998;
}

.omb_login .omb_socialButtons .omb_btn-twitter {
	background: #00aced;
}

.omb_login .omb_socialButtons .omb_btn-google {
	background: #c32f10;
}

.omb_login .omb_socialButtons .omb_btn-github {
	background: #666666;
}

.omb_login .omb_loginOr {
	position: relative;
	font-size: 1.5em;
	color: #aaa;
	margin-top: 1em;
	margin-bottom: 1em;
	padding-top: 0.5em;
	padding-bottom: 0.5em;
}

.omb_login .omb_loginOr .omb_hrOr {
	background-color: #cdcdcd;
	height: 1px;
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.omb_login .omb_loginOr .omb_spanOr {
	display: block;
	position: absolute;
	left: 50%;
	top: -0.6em;
	margin-left: -1.5em;
	background-color: white;
	width: 3em;
	text-align: center;
}

.omb_login .omb_loginForm .input-group.i {
	width: 2em;
}

.omb_login .help-block {
	color: red;
}

@media ( min-width : 768px) {
	.omb_login .omb_forgotPwd {
		text-align: right;
		margin-top: 10px;
	}
}
#div_title{
    text-align:center;
}

#div_questCatalog{
    margin: auto;
    width: 46%;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	line-height: 18px;
	font-size: 18px;
}

#div_quest_topic{
    margin: auto;
    width: 46%;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	display: block;
	line-height: 18px;
	font-size: 18px;
}

#div_quest_quiz{
    margin: auto;
    width: 46%;
	border: 1px solid #d4d4d4;
	border-radius: 2px;
	padding: 20px;
	position: relative;
	-webkit-box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	box-shadow: 0 1px 6px rgba(0, 0, 0, 0.175);
	display: block;
	line-height: 18px;
	font-size: 18px;
}

#quest_quiz{
    height: 130px;
    line-height: 18px;
    display: block;
    font-size: 18px;
}

#div_btnInsert{
    width: 46%;
    margin: auto;
}

#div_btnReset{
    width: 46%;
    margin: auto;
}